.btn-google {
    background: #811608;
    color: #fff;
    width: 100%;
  }
  .card{
    background: rgb(37, 34, 34);
    border-radius: 30px;
  }
  .form-group{
    color: #fff;
  }
  .text-center{
    color: #fff;
  }
  .btn{
    color: #fff;
  }
.texto{
    color: #fff;
}
