<div class="card mt-5" >
    <div class="card-body font-italic">
      <h3 class="card-title text-center">Por Favor Ingresa Tu Email</h3>
      <div class="form-group font-italic">
        <input
          type="email"
          class="form-control"
          [formControl]="userEmail"
          required
        />
      </div>
      <div class="form-group text-center">
        <button class="btn bg-gradient-dark btn-lg font-italic" (click)="onReset()">
          Reenviar Contraseña
        </button>
      </div>
    </div>
  </div>